.App {
  height: 100%;
  text-align: center;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.navbar {
  padding-top: 1rem;
  height: 6rem;
  box-shadow: unset;
  margin-bottom: 2rem;
}
.navbar-heading {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 4rem;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: unset;
}

.button-group {
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
}

.button {
  padding: 0.25rem;
  width: 13rem;
  font-size: 1.2rem;
}

.callout {
  margin-top: 5rem;
  width: 50%;
}

.contact {
  padding: 1rem;
}
