@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Lato", "Roboto", "Ubuntu", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
